body {
    font-family: 'Lato', sans-serif;
}

.tooltip.show {
    opacity: .8;
}
.tooltip-inner {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.btn-potato {
    color: #fff;
    background-color: #d99e82;
    border: none;
}

.form-control {
    border-radius: 0;
}

.fa-spinner {
    color: #c8775e;
}

.btn-potato:hover,
.btn-potato:active {
    color: #fff;
    background-color: #c8775e !important;
}

.btn-potato.disabled, .btn-potato:disabled {
    background-color: #d99e82;
 }


.btn-potato:focus {
    box-shadow: none;
}

.page-link {
    color: #c8775e;
}

.page-link:hover {
    color: #c8775e;
}

.page-item.active .page-link {
    background-color: #d99e82;
    border: none;
    color: #fff;
}

.badge,
.alert,
.modal-content,
.page-link {
    border-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.dropdown-menu {
    border-radius: 0 !important;
    padding: 0;
}

.dropdown-divider {
    margin: 0;
}

.text-blink {
    animation: blink 1s ease-in-out;
}

#title {
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    position: relative;
}

#version {
    transform: rotate(-6deg);
    font-size: .8rem;
    position: absolute;
    bottom: -3px;
    animation: slide-down-rotate .5s ease-out;
}

#title:hover {
    text-decoration: none;
    color: inherit;
}

#github-link {
    border-radius: 6px;
    position: absolute;
    right: 10px;
    transition: transform .2s ease-in-out;
}

#github-link:hover {
    transform: scale(1.2);
}

#github-link i.fa {
    width: 2.2rem;
}

#top-bar {
    box-shadow: 0px 2px 5px #000;
}

.torrent {
    animation: slide-up .6s ease-in-out;
}

.torrent .torrent-title {
    text-shadow: 0px 2px 2px #ccc;
}

.torrent .torrent-fecha {
    font-size: .8rem;
}

.torrent .torrent-img {
    transition: transform .2s ease-in-out;
}

.torrent .torrent-img:hover {
    transform: scale(1.5);
}

#schedules {
    position: absolute;
    left: 10px;
    transition: transform .2s ease-in-out;
}

#schedules:hover {
    transform: scale(1.2);
}

#schedules i.fa {
    width: 2.2rem;
}

#schedules .badge {
    right: -.6rem;
    position: absolute;
    top: -0.2rem;
    font-size: 11px;
    font-weight: 500;
    border-radius: 50%;
    display: block;
    width: 19px;
    height: 19px;
}

#schedules-table th,
#schedules-table td {
    text-align: center;
}

.schedule-disabled {
    opacity: 0.5;
}

.schedule .schedule-img {
    transition: transform .2s ease-in-out;
}

.schedule .schedule-img:hover {
    transform: scale(1.2);
}

.toast {
    border-radius: 0;
    border: 0;
    color: #fff;
    background-color: #33b5e5;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.9rem;
    width: 400px;
    max-width: 400px;
    text-align: center;
    animation: slide-right 0.4s ease;
}

.toast.toast-success {
    background-color: #00c851;
}

.toast.toast-danger {
    background-color: #ff3547;
}

.toast.toast-warning {
    background-color: #fb3;
}

.toast .toast-body i {
    font-size: 2rem;
    vertical-align: middle;
}